/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 200px;
    max-height: 200px;
}

.box-simple {
    min-height: 230px;
}

.navbar ul.nav > li.language-set > a {
    cursor: unset;
}

.navbar ul.nav > li.language-set > a:hover {
    border-top-color: transparent;
    background: none;
}

.navbar-default .navbar-nav > li.language-set > a:hover,
.navbar-default .navbar-nav > li.language-set > a:focus {
    background: none;
}

.navbar ul.nav > li > a {
    text-transform: none;
}

#all section {
    margin-bottom: unset;
}

.panel-custom, .panel-custom > .panel-footer {
    background-color: #e5e5e5;
}

.panel-custom > .panel-heading, .panel-custom > .panel-body {
    color: #ffffff;
    background-color: #414d3b;
}

.panel-custom > .panel-footer > .list-group > .list-group-item {
    border: none;
    background-color: unset;
}

.darkolivegreen {
    color: #414d3b;
}

.bg-darkolivegreen {
    background-color: #414d3b;
}

.text-light, .text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 {
    color: #FFFFFF;
}

.report-sidebar h3, .report-sidebar a {
    color: #FFFFFF;
}

.insights .list-group .list-group-item {
    padding: 20px 15px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.insights .list-group .list-group-item:nth-of-type(1) {
    border-top: none;
}

/* tailwindcss */

/* font weight */
.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

/* flex */
.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.flex-grow {
    flex-grow: 1;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-end {
    justify-items: end;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-stretch {
    justify-items: stretch;
}

.justify-self-auto {
    justify-self: auto;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-stretch {
    justify-self: stretch;
}

.content-center {
    align-content: center;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.content-evenly {
    align-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.self-auto {
    align-self: auto;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-stretch {
    align-self: stretch;
}