/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 200px;
    max-height: 200px;
}

.box-simple {
    min-height: 230px;
}

.navbar ul.nav > li.language-set > a {
    cursor: unset;
}

.navbar ul.nav > li.language-set > a:hover {
    border-top-color: transparent;
    background: none;
}

.navbar-default .navbar-nav > li.language-set > a:hover,
.navbar-default .navbar-nav > li.language-set > a:focus {
    background: none;
}

.navbar ul.nav > li > a {
    text-transform: none;
}