/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 200px;
    max-height: 200px;
}

.box-simple {
    min-height: 230px;
}

.navbar ul.nav > li.language-set > a {
    cursor: unset;
}

.navbar ul.nav > li.language-set > a:hover {
    border-top-color: transparent;
    background: none;
}

.navbar-default .navbar-nav > li.language-set > a:hover,
.navbar-default .navbar-nav > li.language-set > a:focus {
    background: none;
}

.navbar ul.nav > li > a {
    text-transform: none;
}

#all section {
    margin-bottom: unset;
}

.panel-custom, .panel-custom > .panel-footer {
    background-color: #e5e5e5;
}

.panel-custom > .panel-heading, .panel-custom > .panel-body {
    color: #ffffff;
    background-color: #414d3b;
}

.panel-custom > .panel-footer > .list-group > .list-group-item {
    border: none;
    background-color: unset;
}

.darkolivegreen {
    color: #414d3b;
}

.bg-darkolivegreen {
    background-color: #414d3b;
}

.text-light {
    color: #FFFFFF;
}

