<div class="container" id="contact">

  <section>

    {{ .Content }}

    {{ if isset .Site.Params "formspree_action" }}

    <div class="text-right text-danger">
      * {{ i18n "requiredFields" }}
    </div>

    <div id="contact-message"></div>

    <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax" {{ else }}{{ end }} method="post"
          action="{{ .Site.Params.formspree_action }}">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="font-bold" for="first_name"><span class="text-danger">*</span> {{ i18n "firstName" }}</label>
            <input type="text" class="form-control" name="first_name" id="first_name" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="font-bold" for="last_name"><span class="text-danger">*</span> {{ i18n "lastName" }}</label>
            <input type="text" class="form-control" name="last_name" id="last_name" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="font-bold" for="email"><span class="text-danger">*</span> {{ i18n "emailAddress" }}</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="font-bold" for="school_name"><span class="text-danger">*</span> {{ i18n "schoolName" }}</label>
            <input type="text" class="form-control" name="school_name" id="school_name" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="font-bold" for="position"><span class="text-danger">*</span> {{ i18n "yourPosition" }}</label>
            <input type="text" class="form-control" name="position" id="position" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="font-bold" for="city"><span class="text-danger">*</span> {{ i18n "city" }}</label>
            <input type="text" class="form-control" name="city" id="city" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="font-bold" for="phone"><span class="text-danger">*</span> {{ i18n "phoneNumber" }}</label>
            <input type="text" class="form-control" name="phone" id="phone" required>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label class="font-bold" for="message"><span class="text-danger">*</span> {{ i18n "pleaseFillInYourDetailedRequirements" }}</label>
            <textarea id="message" class="form-control" name="message" rows="5" required></textarea>
          </div>
        </div>

        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-lg btn-template-main">{{ i18n "submit" }}</button>
        </div>
      </div>
      <!-- /.row -->
    </form>

    {{ end }}

  </section>

</div>

{{ partial "map.html" . }}
