<footer id="footer">
  <div class="container">

    <div class="col-md-4 col-sm-6">
      <div style="width: 200px">
        <img src="/img/logo-small-transparent.png" class="img-responsive" alt="{{ .Site.Params.app_name }}">
      </div>

      <div style="margin-top: 10px">
        <a href="http://linkedin.com" target="_blank" style="opacity: 1;margin-right: 15px"><i class="fab fa-2x fa-linkedin"></i></a>
        <a href="http://weixin.com" target="_blank" style="opacity: 1;margin-right: 15px"><i class="fab fa-2x fa-weixin"></i></a>
      </div>

      <hr class="hidden-md hidden-lg hidden-sm">
    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-6">

      <div>
        <ul>
          {{ range .Site.Menus.bottom_middle.ByWeight }}
          <li style="padding: 10px 15px">
            <a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>

      <hr class="hidden-md hidden-lg">

    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-6">

      <div>
        <ul>
          {{ range .Site.Menus.bottom_right.ByWeight }}
          <li style="padding: 10px 15px">
            <a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>

    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->
{{ if isset .Site.Params "copyright" }}
<div id="copyright">
  <div class="container">
    <div class="col-md-12">
      <p class="text-center">{{ .Site.Params.copyright | safeHTML }}</p>
    </div>
  </div>
</div>
{{ end }}
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
