<footer id="footer">
  <div class="container">

    <div class="col-sm-12 col-md-4">
      <div style="width: 200px">
        <a href='{{ "/" | relLangURL }}'>
          <img src="/img/logo-small-transparent.png" class="img-responsive" alt="{{ .Site.Params.app_name }}">
        </a>
      </div>

      <hr class="hidden-md hidden-lg">
    </div>
    <!-- /.col-md-4 -->

    <div class="col-sm-6 col-md-4">

      <div>
        <ul>
          {{ range .Site.Menus.bottom_middle.ByWeight }}
          <li style="padding: 10px 15px">
            <a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>

      <hr class="hidden-sm hidden-md hidden-lg">

    </div>
    <!-- /.col-md-4 -->

    <div class="col-sm-6 col-md-4">

      <div>
        <ul>
          {{ range .Site.Menus.bottom_right.ByWeight }}
          <li style="padding: 10px 15px">
            <a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>

    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->
{{ if isset .Site.Params "copyright" }}
<div id="copyright">
  <div class="container">
    <div class="col-md-12">
      <p class="text-center">{{ .Site.Params.copyright | safeHTML }}</p>
    </div>
  </div>
</div>
{{ end }}
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
