<div class="panel panel-default bg-darkolivegreen report-sidebar">
  {{ with site.GetPage "insights/sidebar/sidebar" }}

  <div class="panel-body text-light">
    {{ .Content }}
<!--    <h4 class="text-light">{{ .Params.Text.Title }}</h4>-->
<!--    <p>{{ .Params.Text.Header }}</p>-->
<!--    <p>{{ .Params.Text.Footer }}</p>-->


    <div style="margin-top: 30px" x-data="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input type="text" class="form-control" id="name" placeholder="{{ .Params.Fields.Name }}" required
                 x-model="fullName">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-location-arrow"></i></div>
          <input type="text" class="form-control" id="city" placeholder="{{ .Params.Fields.City }}" required
                 x-model="city">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-building"></i></div>
          <input type="text" class="form-control" id="schoolName" placeholder="{{ .Params.Fields.SchoolName }}" required
                 x-model="schoolName">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
          <input type="email" class="form-control" id="email" placeholder="{{ .Params.Fields.Email }}" required
                 x-model="emailAddress">
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-default" @click="submit">{{ i18n "submit" }}</button>
      </div>
    </div>

  </div>

  {{ end }}
</div>
