{{ if .Site.Params.topbar.enable }}
<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-5">
          <p class="hidden-sm hidden-xs" style="line-height:25px">
            {{ .Site.Params.topbar.text }} {{ .Site.Params.topbar.email }}
          </p>
          <p class="hidden-md hidden-lg">
            <a style="color:#999"
               href="mailto:business@carmeanandgohlke.com"
               data-animate-hover="pulse">
              <i class="fas fa-2x fa-envelope"></i>
            </a>
          </p>
        </div>
        <div class="col-xs-10 col-sm-7">
          <div class="social">
            {{ range .Site.Menus.topbar.ByWeight }}
            <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
            {{ end }}
          </div>

          <div style="float: right; text-align: right; line-height: 25px; margin-right: 20px">
            <a style="color: #EEEEEE"
               href="{{ .Site.Params.topbar.link | relLangURL }}"
               style="opacity: 1;">
              {{ .Site.Params.topbar.application }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}
