<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<div id="all">

  {{ partial "nav.html" . }}

  {{ partial "breadcrumbs.html" . }}

  <div id="content">
    <div class="container">

      {{ .Content }}

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <input type="file" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-default">{{ i18n "submit" }}</button>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->

  {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}

</body>
</html>
